[submodule "canvas"]
    path = canvas
    url = https://github.com/Fale/canvas.git
[submodule "project"]
	path = project
	url = https://github.com/Fale/project.git
[submodule "tenant"]
	path = tenant
	url = https://github.com/Fale/tenant.git
